@page "/acercade"


<PageTitle>Acerca de:</PageTitle>

<h1>Acerca del Creador de la pagina</h1>
<p>Soy un estudiante del area de Desarrollo de Sofrware egresado del Instituto Tecnologico de las Americas 
    proveniente de San Pedro de Macoris. Actualmente no estoy del todo seguro de a que area me dedicaré 
    cuando me gradue. Sin embargo, en el futuro me gustaria desarrollar programas que utilicen videojuegos
    como herramientas de enseñanza.

</p>

<div class="text-center" >
    <img class= "img-fluid" src= "imagen/selfi.jpg" width="300px">
    <h4>Cristobal Garcia Lopez</h4>
    <p>Creador de la pagina</p>

</div>

 <h1>Contactarme</h1>
    <p><a href="https://wa.me/18299296838" target="_blank" class="btn btn-primary">Mi WhatsApp</a>
    <a href="https://t.me/CrisGLpz" target="_blank" class="btn btn-primary">Mi Telegram</a>
    <a href="mailto:20231634@itla.edu.do" target="_blank" class="btn btn-primary">Mi Gmail</a></p>



